<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <script>
    window.Shopify.loadFeatures(
      [
        {
          name: 'consent-tracking-api',
          version: '0.1',
        },
      ],
      (error) => {
        if (error) {
          console.error('Error loading Customer Privacy API:', error);
          return;
        }

        const privacy = window.Shopify.customerPrivacy;

        if (!privacy) {
          console.warn('Customer Privacy API not available');
          return;
        }

        privacy.getRegion().then((region) => {
          console.log('User region:', region);

          if (region && region.toLowerCase() === 'us-or') {
            alert('Hi Oregon user! 🌲 You’re seeing a region-based popup.');
          }
        }).catch((err) => {
          console.error('Failed to get region:', err);
        });
      }
    );
  </script>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {{ 'cart.js' | asset_url | script_tag }}
    {{ 'gift-cart.js' | asset_url | script_tag }}
  </body>

  <script>
  window.theme = {
    settings: {
      cart_threshold_amount: {{ settings.cart_threshold_amount | default: 0 }},
      id : {{ settings.gift_product.selected_or_first_available_variant.id || default: 0 }}
    }
  };
</script>
</html>
